
/* HERO */


/* SOCIOS */

.socios__article{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.086);
    border: 1px solid rgba(0, 0, 0, 0.044);
}

/* OPNIONES */

.opiniones__article{
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.086);
    border: 1px solid rgba(0, 0, 0, 0.044);
}

.opiniones__gradient{
    background: linear-gradient(to left, #F0FDF4, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0), #F0FDF4);

}

