
/* ANIMACION DE ANTRADA */

.entrada{
    animation: entrada 6s;
    top: -200%;
    opacity: 0;
}

@keyframes entrada {
    0%{
        top: 0%;
        opacity: 1;
    }
    99%{
        top: 0%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: -200%;
    }
}

.entrada::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: -50%;
    left: 0;
    background-color: rgb(235, 235, 255);
    z-index: -10;
    animation: estrada__top 5s;
} 

@keyframes estrada__top {
    0%{
        top: 0;
    }
    88%{
        top: 0;
    }
    100%{
        top: -50%;
    }
}
.entrada::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: -50%;
    left: 0;
    background-color: rgb(235, 235, 255);
    z-index: -10;
    animation: estrada__bottom 5s;
}

@keyframes estrada__bottom {
    0%{
        bottom: 0;
    }
    88%{
        bottom: 0;
    }
    100%{
        bottom: -50%;
    }
}


/* ANIMACION OPACITY */

.opacity{
    animation: opacity 4s;
    opacity: 0;
}

@keyframes opacity {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

/* ANIMACION CARGA NUMBER */

.carga__number::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
    
}

.carga__number::before{
    content: "0";
    animation: carga__number 4s infinite;

}


@keyframes carga__number {
    0%{
        content: "0";
    }
    1%{
        content: "1";
    }
    2%{
        content: "2";
    }
    3%{
        content: "3";
    }
    4%{
        content: "4";
    }
    5%{
        content: "5";
    }
    6%{
        content: "6";
    }
   7%{
        content: "7";
    }
    8%{
        content: "8";
    }
    9%{
        content: "9";
    }
    10%{
        content: "10";
    }
    11%{
        content: "11";
    }
    12%{
        content: "12";
    }
    13%{
        content: "13";
    }
    14%{
        content: "14";
    }
    15%{
        content: "15";
    }
    16%{
        content: "16";
    }
    17%{
        content: "17";
    }
    18%{
        content: "18";
    }
    19%{
        content: "19";
    }
    20%{
        content: "20";
    }
    21%{
        content: "21";
    }
    22%{
        content: "22";
    }
    23%{
        content: "23";
    }
    24%{
        content: "24";
    }
    25%{
        content: "25";
    }
    26%{
        content: "26";
    }
    27%{
        content: "27";
    }
    28%{
        content: "28";
    }
    29%{
        content: "29";
    }
    30%{
        content: "30";
    }
    31%{
        content: "31";
    }
    32%{
        content: "32";
    }
    33%{
        content: "33";
    }
    34%{
        content: "34";
    }
    35%{
        content: "35";
    }
    36%{
        content: "36";
    }
    37%{
        content: "37";
    }
    38%{
        content: "38";
    }
    39%{
        content: "39";
    }
    40%{
        content: "40";
    }
    41%{
        content: "41";
    }
    42%{
        content: "42";
    }
    43%{
        content: "43";
    }
    44%{
        content: "44";
    }
    45%{
        content: "45";
    }
    46%{
        content: "46";
    }
    47%{
        content: "47";
    }
    48%{
        content: "48";
    }
    49%{
        content: "49";
    }
    50%{
        content: "50";
    }
    51%{
        content: "51";
    }
    52%{
        content: "52";
    }
    53%{
        content: "53";
    }
    54%{
        content: "54";
    }
    55%{
        content: "55";
    }
    56%{
        content: "56";
    }
    57%{
        content: "57";
    }
    58%{
        content: "58";
    }
    59%{
        content: "59";
    }
    60%{
        content: "60";
    }
    61%{
        content: "61";
    }
    62%{
        content: "62";
    }
    63%{
        content: "63";
    }
    64%{
        content: "64";
    }
    65%{
        content: "65";
    }
    66%{
        content: "66";
    }
    67%{
        content: "67";
    }
    68%{
        content: "68";
    }
    69%{
        content: "69";
    }
    70%{
        content: "70";
    }
    71%{
        content: "71";
    }
    72%{
        content: "72";
    }
    73%{
        content: "73";
    }
    74%{
        content: "74";
    }
    75%{
        content: "65";
    }
    76%{
        content: "76";
    }
    77%{
        content: "77";
    }
    78%{
        content: "78";
    }
    79%{
        content: "79";
    }
    80%{
        content: "80";
    }
    81%{
        content: "81";
    }
    82%{
        content: "82";
    }
    83%{
        content: "83";
    }
    84%{
        content: "84";
    }
    85%{
        content: "85";
    }
    86%{
        content: "86";
    }
    87%{
        content: "87";
    }
    88%{
        content: "88";
    }
    89%{
        content: "89";
    }
    90%{
        content: "90";
    }
    91%{
        content: "91";
    }
    92%{
        content: "92";
    }
    93%{
        content: "93";
    }
    94%{
        content: "94";
    }
    95%{
        content: "95";
    }
    96%{
        content: "96";
    }
    97%{
        content: "97";
    }
    98%{
        content: "98";
    }
    99%{
        content: "99";
    }
    100%{
        content: "100";
    }

}

/* ANIMACION SLIDER PALABRAS TOP */

.slider{
    animation: slider 8s infinite alternate;
}

@keyframes slider {
    0%{
        margin-top: 0;
    }
    20%{
        margin-top: 0;
    }
    25%{
        margin-top: -33px;
    }
    45%{
        margin-top: -33px;
    }
    50%{
        margin-top: -70px;
    }
    70%{
        margin-top: -70px;
    }
    75%{
        margin-top: -108px;
    }
    100%{
        margin-top: -108px;
    }
    
}


/* VIDEOS ANIMACIONES */
.video__1,
.video__2,
.video__3{
    animation: video 500ms;
    animation-delay: 4.4s;
    
}

.video__2{
    animation: video 550ms;
    animation-delay: 4.4s;
}
.video__3{
    animation: video 600ms;
    animation-delay: 4.4s;
}

@keyframes video {
    0%{
        transform: scale(0);
    }
    
}



/* SOCIOS */

.socios__article{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.086);
    border: 1px solid rgba(0, 0, 0, 0.044);
}

/* OPNIONES */

.opiniones__article{
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.086);
    border: 1px solid rgba(0, 0, 0, 0.044);
}




